<h1>予約確認</h1>
病院名:
<br>
<%= image_tag 'hospital1.jpg', :size=>'100x100' %>
<br>
診療科:
<br>
診察者:
<br>
日時:
<br>
<h3>この内容でよろしいですか？</h3>
<%= link_to "予約", "finish" %>
<%= link_to "戻る", "open_list" %>