<div class="main">
  <div class="container">
    <div class="title">
<div class="row">
        <img src="<%= asset_path "icon.png" %>" width="200px" height="auto" />
        <h1>Hospi Search</h1>
        <p>パッと予約で、サッと診察！</p>
    </div>
</div>

<h2>予約が完了しました！</h2><br>


<div class="content2">
<h3>予約内容</h3>
<table style="table-layout: auto;">
<tr>
<td class="form_td">病院</td><td class="form_td">ほげほげ病院</td>
</tr>
<tr>
<td class="form_td">外観</td>
<td class="form_td" ><img src="<%= asset_path "icon.png" %>" width = "300px" height="auto"></img></td>
</tr>
<tr>
<td class="form_td">診療科</td><td class="form_td">内科</td>
</tr>
<tr>
<td class="form_td">日時</td><td class="form_td">2017/07/22</td>
</tr>
</table>
</div>
<%= link_to "検索画面に戻る", "search_hospitals_path" %>

</div>
