<div class="lists_main">
    <h2>この地域で予約できる病院</h2>
  <ul class ="list1" style="list-style-type:square">

    <li>
      <div class = "list_box">
        <img src="<%= asset_path "hospitalA.png" %>" width="256px" height="auto" />
        病院A　おすすめ
        <button type="button" class="btn btn-default">予約する</button>
        <a href="">詳細をみる</a>
      </div>
    </li>
  </ul>
  <br/>
  <ul class ="list1" style="list-style-type:square">
    <li>
      <div class = "list_box">
        <p>
          <img src="<%= asset_path "hospitalB.png" %>" width="256px" height="auto" />
          病院B　おすすめ
          <button type="button" class="btn btn-default" >予約する</button>
          <a href="">詳細をみる</a>
        </p>
      </div>
    </li>
  </ul>
</div>

<button type="button" class="btn btn-default" onclick="location.href="/open_list"">戻る</button>
