<div class="lists_main">

  <h2>この地域で予約できる病院</h2>

  <div class = "list_box">
    <img src="<%= asset_path "example1.png" %>" width="150px" height="auto" />
    <p class="txt">病院A<br/>結構おすすめ．</p>
  </div>


</div>
