<br>
<h1>予約の詳細</h1>
<br>
<div class="panel panel-default">
  <div class="panel-heading">ほげほげ病院</div>
  <div class="panel-body">
    患者名: にーの <br />
    予約日時: 2017/8/24 <br />
    診療科: 内科 <br />
  </div>
</div>
<%= link_to "予約をキャンセルする",  :class => 'btn btn-info' %>