
@font-face {
	font-family: 'MyFont';
	src: url(../fonts/QuickSand/Quicksand-Bold.otf);
}

html {
	height: 100%;	
	background: #93B8CA;
}

body {
	height: 100%;
	background-color: #93B8CA;
}

.h1 {
	font-family: MyFont;
}

.main {
	background-color: #93B8CA;
	height: 100%;
}

.title {
	color: #FFF;
	font-family: MyFont;
	margin: 10px;
}

.title h1 {
	font-size: 5.3em;
}

.title p {
	font-size: 1.3em;
}

.title img {
	float: left;
}

.content {
	margin-left: 0px;
	margin-right: 0px;
	font-size: 1.4em;
	background-color: #f5f5f5;
	border-radius: 4px;
}
.content2 {
	text-align: center;
	margin: 20px;
	padding: 20px;
	font-size: 1.4em;
	background-color: #f5f5f5;
	border-radius: 4px;
}

.content3 {
	text-align: center;
	margin: 20px;
	padding: 20px;
	width: 400px;
	font-size: 1.4em;
	background-color: #f5f5f5;
	border-radius: 4px;
}

.sell_points {
	font-size: 1.3em;
}

.demo {
	text-align: center;
}

.login {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
}

.form_sign_up {
	padding: 50px;
	text-align: center;
}

.form_title {
	margin: 20px;
	text-align: center;
}

.form_submit {
	margin-top: 20px;
}

.lists_main {
	margin: 20px;
	font-size: 2.1em;
}

.list_title{
	margin: 50px;
}

.list1 {
	margin: 10px;
	background: #f5f5f5;
	width: 400px;
}

.hospital_img {
	align: left;
}

.hospital_info {
	align: left;
	border: solid 1px;
	margin-right:20px;
}

.form_td {
	height: 70px;
	border: solid 1px;
	border-style: groove;
	padding: 10px;
	margin: 10px;
}

.form_table {
	text-align: center;
}