// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// table の幅を固定し，ページサイズによって折り返す
table {
width: 100%;
table-layout: fixed;
}

.lists_main {
  width:780px;
}

.list_box {
  
}

.list1 {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;// 線の外側
  border: dashed 2px #ffb03f;// 破線
  border-radius: 9px;
  margin-left: 50px;// はみ出ないように調整
  margin-right: 50px;//はみ出ないように調整
  padding: 0.5em 0.5em 0.5em 2em;
  position: relative;
  list-style-type: none!important;// ポチ消す
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #dbebf8;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;//左側の角丸く
}
