<br>
<h1>ほげほげ病院のレビュー</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>レビュー</th>
    </tr>
  </thead>
  <tr>
    <th>にーの</th>
    <th>ヤブ医者！！！！！！！診察中にセクハラな発言をされた！！！！！！！もう二度と行きたくないです！！！！！！！</th>
  </tr>
</table>
